.contenedor {
    width: 100vw;
    height: 100vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/133/676/desktop-wallpaper-rick-and-morty-id-3244-rick-and-morty-pc.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.tituloryc {

    max-width: 40vw;
    filter: invert();
}

.form {
    width: 400px;
    height: 250px;
    padding-top: 2%;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.589);
}

.titulo {
    font-size: 30px;
    font-weight: 700;
}

.titulos {
    font-weight: 600;
    font-size: 20px;

}

.inputs {
    border-radius: 7px;
    border-style: double;
    width: 80%;
    height: 25px;
    max-width: 300px;
}

.errores {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: rgb(165, 4, 4);
    text-align: center;
    margin-bottom: 20px;
}

.superbtn {
    background-color: rgb(0, 0, 133);
    margin: 20px;
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
    border-style: none;
    color: rgb(254, 218, 255);
}